body,html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	text-align: center;
	font-family: "Century Gothic", CenturyGothic, sans-serif;
	font-style: bold;
	font-size: 72px;
}

h2 {
	margin: 0;
	text-align: center;
	font-family: SourceSansPro;
	font-size: 24px;
	font-style: none;
	font-weight: 100;
}

p {
	margin: 0;
	font-family: SourceSansPro;
	font-size: 20px;
	font-style: none;
	font-weight: 100;
	line-height: 200%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

@font-face {
	font-family: SourceSansPro;
	src: url("SourceSansPro-ExtraLight.otf");
}

@keyframes animationFrames {
  0% {
    opacity:0;
    transform:  translate(0px,25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

.banner {
	background-color: black;
	height: 50%;
	width: 100%;
	margin: 0;
}

.caption {
	position: relative;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
}

.tab-container {
	position: relative;
	display: grid;
	padding: 0px 150px 0px 150px;
}

.tab {
	padding: 10px;
	margin: 10px;
	text-align: center;
	border-bottom: none;
}

.tab:hover {
	border-bottom: 1px solid rgb(192,192,192);
}

.tabDescription {
	overflow: auto;
	padding: 75px 150px 75px 150px;
	animation: animationFrames ease 0.5s;
}

.gallery-container {
	position: relative;
	left: 25%;
	width: 50%;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	padding-bottom: 75px;
}

.gallery-item {
	padding-bottom: 5px;
	margin: 10px;
	border-bottom: none;
}

.gallery-item img {
	width: 100%;
}

.gallery-item:hover {
	border-bottom: 1px solid rgb(192,192,192);
}

.gallery-item img:hover {
	opacity: 0.5;
}

.gallery-display {
	width:100%;
}

.gallery-display img {
	width: 100%
}

.tabSelected {
	border-bottom: 1px solid black;
}

.tabSelected:hover {
	border-bottom: 1px solid black;
}

.product-container {
	display: grid;
	grid-template-columns: 50% 50%;
	border: 1px solid black;
}

.product-header {
	padding: 10px;
	background-color: black;
	color: white;
	text-align: left;
	border: none;
}

.product-item {
	padding: 10px;
	border: none;
	text-align: left;
}

.itemgallery-container {
	width: 100%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-row-gap: 150px;
}

.itemgallery-item {
	padding: 0px 20px 0px 20px;
}


.itemgallery-itemimage {
	margin: 0px 0px 10px 0px;
    border: 1px solid gray;
    background-color: white;
}

/*
.itemgallery-itempic {
	background-size: contain; 
	background-repeat: no-repeat;
	height: 0;
	width: 100%; 
	padding-top: 56.25%;
}
*/

input[type=number], input[type=text], select, textarea {
	font-family: SourceSansPro;
	font-size: 20px;
	width: 100%;
    padding: 15px;
    margin: 0;
    display: inline;
    border: 1px solid gray;
    box-sizing: border-box;
    transition-duration: 0.0s;
}

input[type=number]:focus, input[type=text]:focus, select:focus, textarea:focus, input[type=number]:hover, input[type=text]:hover, select:hover, textarea:hover {
	border: 1px solid black;
}

option{
	font-family: SourceSansPro;
	font-size: 20px;
	line-height: 50px;
    padding: 15px;
}

input[type=submit] {
	background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
    font-family: SourceSansPro;
    font-style: italic;
}

input[type=submit]:hover {
	background-color: black;
	color: white;
}

.costCalculator-item {
	padding: 40px;
	text-align: center;
	position: relative; 
}

.enabled {
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
	cursor: default;
}