body,html {
	height: 100%;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: SourceSansPro;
	src: url("SourceSansPro-ExtraLight.otf");
}

@font-face {
	font-family: CenturyGothic;
	src: url("CenturyGothicRegular");
}

h1 {
	margin: 0;
	text-align: center;
	font-family: "Century Gothic", CenturyGothic, sans-serif;
	font-style: bold;
	font-size: 72px;
}

h2 {
	margin: 0;
	text-align: center;
	font-family: SourceSansPro;
	font-size: 40px;
	font-style: italic;
	font-weight: 100;
}

h3 {
	margin: 0;
	text-align: center;
	font-family: "Century Gothic", CenturyGothic, sans-serif;
	font-size: 40px;
	font-style: italic;
	font-weight: bold;
}

p, ul, li{
	margin: 0;
	line-height: 50px;
	text-align: left;
	font-family: SourceSansPro;
	font-size: 25px;
	font-weight: 100;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ul.menubar {
	position: fixed;
	top: 0;
    width: 100%;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    border-bottom: 1px solid #555;
    z-index: 999;
}

li.menuitem {
	width:100%;
	font-family: "Century Gothic", CenturyGothic;
	float: left;
	display: inline;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
}

.button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
    font-family: SourceSansPro;
    font-style: italic;
}

.button:hover {
	background-color: white;
	color: gray;
}

.buttoncontainer {
	margin:0;
	padding: 0;
	background-color: white;
	text-align: right;
	width: 100%
}

button.button1 {
	float: right;
	border: 1px solid white;
	display: block;
	padding: 10px 32px;
    font-size: 16px;
    font-style: normal;
    margin: 10px;

}

.button1:hover{
	background-color: white;
	color: #222;
}


.caption {
	position: relative;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
}

.introImage {
	background-image: url("intro.png");
	height: 95%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: middle;
}

.introText {
	overflow: auto;
	background-image: url("textbg.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 75px;
}

.gallery { 
	margin: 30px;
    border: 1px solid gray;
    width: 20%;
    transition-duration: 0.3s;
    float: left;
}

.gallery:hover {
    border: 1px solid black;
}

.gallery img {
	padding: 0;
	margin: 0;
    width: 100%;
}

.desc {
	margin-top: -5px;
    padding: 15px;
    background-color: white;
}